# Git
.git/
.gitignore

# Build artifacts
bin/
dist/
*.exe
*.test

# Config files (secrets) – do not copy into the image
configs/*.yaml
configs/*.yml

# IDE files
.vscode/
.idea/

# OS metadata
.DS_Store

# Logs
*.log

# Test files
*_test.go

# Docker related (optional)
Dockerfile
.dockerignore
.github/

#project files
Requirement
projectstructure
