# Git
.git/
.gitignore

# Build artifacts
bin/
dist/
*.exe
*.test


# IDE files
.vscode/
.idea/

# OS metadata
.DS_Store

# Logs
*.log

# Test files
*_test.go

# Docker related
Dockerfile
.dockerignore
.github/

#project files
Requirement
projectstructure
